@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&family=Montserrat:wght@100;400;700&display=swap');

:root {
    --black: #202020;
    --black_light: #3B3B3B;
    --black_dark: #080808;
    --white: #F0F0F0;
    --white_light: #D6D6D6;
    --white_dark: #FFFFFF;
    --red: #C21C34;
    --red_light: #E1324B;
    --red_dark: #981629;

    --font_hindi: 'Hind', sans-serif;
    --font_montserrat: 'Montserrat', sans-serif;
}

.galery{
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom:50px;
}

.arrow-left{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 35px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.arrow-right{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 35px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.unitary-selector-bottom{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    color: var(--white);
}

.selector-unitary{
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
}

/* RESPONSIVE */

@media only screen and (max-width: 550px){
    .arrow-left{
        font-size: 25px;
    }
    
    .arrow-right{
        font-size: 25px;
    }
}

@media only screen and (max-width: 345px) {
    .arrow-left{
        font-size: 20px;
    }
    
    .arrow-right{
        font-size: 20px;
    }
}